.journey {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    background-color: #000;
}

.format {
    position: relative;
}

.format h2 {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 100px;
}

.format h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

.format h2:nth-child(2) {
    color: #0dd2ec;
    animation: journey 5s ease-in-out infinite;
}



@keyframes journey {

    0%,
    100% {

        clip-path: polygon(0% 45%,15% 44%, 32% 50%,54% 60%,70% 61%,84% 59%,100% 52%,100% 100%,0% 100%);

        }
        50%{
            
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);


        }

}
